* {
    margin: 0;
    padding: 0;

}

.modal-overlay {
    position: fixed; /* 화면 전체를 덮음 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* 항상 최상위에 표시 */
  }
  
  .modal {
    position: relative;
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 90%; /* 화면 너비의 80% */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    z-index: 10000;
    overflow: hidden; /* 내용이 넘치지 않도록 설정 */
  }

.carousel-container {
    max-width: 100%; /* 부모 요소를 넘지 않도록 제한 */
    overflow: hidden; /* 부모 요소를 넘는 내용 숨기기 */
  }
  
  .carousel-item {
    max-width: 200px; /* 슬라이더 항목 크기 제한 */
    margin: auto; /* 가운데 정렬 */
  }

h2 {
    text-align: center;
}

.check-btn {
    background: gray;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.check-btn .btn-yes {
    width: 50%;
    height: 50%;
    margin: 50px;
}

.check-btn .btn-no {
    display: inline-block;
    background: rgb(221, 162, 162);
    width: 50%;
    height: 50%;
    margin: 50px;
}

.slide {
    text-align: center;
}

 .modal-content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .modal-content img {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .modal-content div {
    flex-grow: 1;
  }
  
  .set-menu-content {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    margin-bottom: 20px;
  }
  
  .set-menu-content img {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .set-menu-content div {
    flex-grow: 1;
  }
  
  .set-menu-content p {
    margin-bottom: 10px;
  } 

  .selected-menu img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .actions button {
    padding: 10px 20px;
    margin: 5px;
  }