.card > .product {
    width: 100px;
    height: 100px;
}

.price {
    text-align: center;
}

.count-btn {
    display: flex;
    
    justify-content: space-evenly;
}

.count-btn > button  {
    width: 2.0em;
    margin: 5px;
}